//SubWCRev: rpsWCRev.tmpl

char *Revision      = "$WCREV$";
char *Modified      = "$WCMODS?Modified:Not modified$";
char *BldTime       = "$WCNOW$";
char *CommitDate    = "$WCDATE$";
char *Range         = "$WCRANGE$";
char *Mixed         = "$WCMIXED?Mixed revision WC:Not mixed$";
char *URL           = "$WCURL$";

// End of file


